.o{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.om{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.scout{
  margin-right: 50px;
  border: 1px solid red;
  padding: 0;
}

.s{
  padding: 0;
    cursor: pointer;
}

.collapsed{
  display: none;
}

.container{
  cursor: pointer;
  color: rebeccapurple;
}